<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = "utf-8">
        <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="">
        <meta name="author" content="Ma Lab">

        <title>{% block title %}Template{% end %}</title>


        <script src="static/js/lib/jquery-2.2.4.min.js"></script>
        <script src="static/js/lib/jquery-ui.min.js"></script>
        <script src="static/js/lib/bootstrap.min.js"></script>
        <script src="static/js/lib/buzz.min.js"></script>
        <script src="static/js/lib/underscore-min.js"></script>

        <link href = "static/css/lib/bootstrap.min.css" rel = "stylesheet">
    </head>
    <body>
        {% block header %}Placeholder Content{% end %}
        {% block loginform %}Placeholder Content{% end %}
    </body>


</html>