<div class="modal fade" id="feedback-modal" data-backdrop="static" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <h2 class="modal-title">Good game!</h2>
                <h5>When you are ready, please press the button to play again.</h5>
            </div>
            <div class="modal-footer">
                <button class="btn btn-large btn-warning" id="next-trial">Play</button>
            </div>
        </div>
    </div>
</div>