{% extends 'login.html' %}

{% block title %}Discharge Survey{% end %}
{% block headertext %}Thank you!{% end %}

{% block form %}
    <div class='row'>
        <div class='col-xs-6 col-xs-offset-3 text-center'>
            <p>
                Please take a moment to answer
                the following questions.
            </p>
        </div>
    </div>

    {% include 'forms/turingform.html' %}

{% end %}

{% block scripts %}
    <script>
        $(document).ready(function() {
            $('#submit-btn').hide();
            $('#next-btn').on('click', function() {
                $('#next-btn').prop('disabled', true).fadeOut('slow');
                $('#free-response').fadeOut('slow', function() {
                    $('#slider-items').fadeIn('slow');
                    $('#submit-btn').prop('disabled', false).fadeIn('slow');
                });
            });
        });
    </script>
{% end %}
