{% extends "../templates/gamebase.html" %}
{% block title %}Turing test{% end %}
{% block headertext %}Are the players humans or computers?{% end %}
{% block extra_styles %}
    <style>
        #turing-stim { display: block; width: 1000px; margin: 0 auto; }
/*        .turing-response-container { display: block; margin: 0 auto; }
*/      #submit, #play {float: none; margin: 0 auto;}
    </style>
{% end %}

{% block canvas %}

    <div class='row _blank_'></div>
    <div class="row">
        <div class="container-fluid col-xs-10 col-xs-offset-1 turing-container">
            <video id='turing-stim' poster='../static/media/image/turing_placeholder.png'>
                <source id='stim-source' src='' type='video/mp4'>
            </video>
        </div>
    </div>

    <div class='row _blank_'></div>
    <div class='row'>
        <div class='container text-center col-xs-12'>
            <button class='btn btn-lrg submit-btn' id='submit' hidden>Submit</button>
            <button class='btn btn-lrg play-btn' id='play' disabled>Play</button>
        </div>
    </div>

    <div class='row _blank_'></div>
    <div class='row'>
        <div class='container col-xs-8 col-xs-offset-2'>
            <input type='range' min=0 max=99 id='slider'></input>
        </div>
    </div>

    <div class='row _blank_'></div>
    <div class='row'>
        <div class='container col-xs-6 col-xs-offset-4 turing-feedback'>
            <p id='feedbacktext'></p>
        </div>
    </div>
{% end %}

{% block scripts %}
    <script src="../static/js/conditions/turing.js"></script>
{% end %}