{% extends "../templates/gamebase.html" %}
{% block title %}Turing test{% end %}
{% block headertext %}Are the players humans or computers?{% end %}
{% block extra_styles %}

    <link href='static/css/turing.css' rel='stylesheet'>

{% end %}

{% block modals %}
    {% include "modals/progress-modal.html" %}
{% end %}

{% block canvas %}
  <div class='row _blank_'></div>
  <div class="row">
      <div class="container-fluid col-xs-10 col-xs-offset-1 turing-container">
          <video id='turing-stim' poster=''>
              <source id='stim-source' src='' type='video/mp4'>
                  </video>
      </div>
  </div>

  <div class='row _blank_'></div>
  <div class='row'>
      <div class='container col-xs-8 col-xs-offset-2'>
          <input type='range' min=0 max=99 id='slider'>
          <div class='slidertext'>
              <p class='humans' style="text-align:left; display:inline-block; width:33%; font-size:20px" id='humans'>Certainly computers</p>
              <p class='noClue' style="text-align:center; display:inline-block; width:33%; font-size:20px" id='noClue'>No clue</p>
              <p class='comps' style="text-align:right; display:inline-block; width:33%; font-size:20px" id='comps'>Certainly humans</p>
          </div>
          <div class='feedback'>
              <div class='container text-center col-xs-6 col-xs-offset-3 turing-feedback'>
                  <p style="font-size:25px; color:black" id='feedbacktext'></p>
              </div>
          </div>
      </div>
  </div>

  <div class='row _blank_'></div>
  <div class='buttons'>
      <div class='container text-center col-xs-2 col-xs-offset-5'>
          <input class='btn btn-lrg play-btn' type="button" value="Play" id='play' disabled>
              <input class='btn btn-lrg submit-btn' type="button" value="Submit" id='submit' disabled>
                  </div>
  </div>

  <div class='row _blank_'></div>
  <div class="container">
    <div class="modal fade" id="welcome-modal" role="dialog">
      <div class="modal-dialog modal-lg">
       <div class="modal-content">
          <div class="modal-body">
            <p style="font-size:120%">Today, you will be shown 96 short videos, either from games between two human players or between two computers. Half of the videos are from games between humans, the other half between computers. The videos may start from any point in a game, so the starting position is not necessarily an empty board.
            </p>
            <p style="font-size:120%"> Your task is to identify if the video is from a <b>human-vs-human</b> game or a <b>computer-vs-computer</b> game. You will also be asked to report <b>how confident you are</b> about your choice. There is no time limit to this task. </p>
          </div>
          <div class="modal-footer">
            <div class="btn-group fr">
              <button class="btn btn-lrg" data-dismiss="modal">Continue</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='row _blank_'></div>
  <div class="container">
    <div class="modal fade" id="end-modal" role="dialog">
      <div class="modal-dialog modal-lg">
       <div class="modal-content">
          <div class="modal-body">
            <p style="text-align:center; font-size:120%">Your experiment has finished. Thank you for participating! Please find the experimenter.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

{% end %}

{% block scripts %}
    <script src="../static/js/conditions/turing.js"></script>
{% end %}
