<p class='instructions-text'>
    Today, you will play a simple game against a computer opponent.<br><br>
    The rules of the game are similar to tic-tac-toe and Gomoku.
    Each player takes turns placing their pieces on a 4 by 9 board,
    and the first player to place 4 of their own pieces in a horizontal, vertical, or diagonal row wins the game.
    <br><br>In the picture below, there is a blank game board.
    Above the board there is a message that shows you when it is your turn and when your opponent is thinking.
    When it is your turn, you can make a move by clicking the square where you would like to place your piece.
    You and your opponent will take turns going first. After every game, the computer will change its settings.
</p>
<img src='static/media/image/AI_demo.png'></img>
